<!DOCTYPE html>
<html>

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <style>
    /*---------------------------------------
   Social section
-----------------------------------------*/
footer {
            background-color: #333;
            color: #fff;
            padding: 20px 0;
            text-align: center;
        }
        .social-icons a {
            color: #fff; /* Adjust icon color */
            font-size: 24px; /* Adjust icon size */
            margin-right: 10px;
        }
  </style>
</head>

<footer>
  <div class="social-icons">
      <a href="#" class="fab fa-facebook"></a>
      <a href="#" class="fab fa-whatsapp"></a>
      <a href="#" class="fab fa-instagram"></a>
      <a href="#" class="fab fa-twitter"></a>
      <!-- Add more social platform icons as needed -->
  </div>
  <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div style="color:#c5c5c5;" class="wow fadeInUp footer-copyright">
            <p><br>
              &copy; 2024 ReTech-Cycle Team </p>
          </div>
        </div>
      </div>
    </div>
    <h6>Developed by <a href="#" target="_blank">Md.Meherub Hossain Yemon</a>, <a href="#" target="_blank">Md.Raihan Kabir
  </a>,
       <a href="#" target="_blank">Md.Sohel Rahman</a>
  </a></h6>
  
</footer>

</html>
