{% extends 'customer_base.html' %}
{% load static %}
{% block content %}


<style media="screen">
  body {
    background-color:#f7f7f7;
  }
  .footer {
    padding: 100px 0px 0px 0px;
    color: antiquewhite;
    margin: 0px;
}

</style>
<br><br><br>
<div style="padding-left:300px;" class="container">

        <div class="col-sm-2 col-md-2">
            <img src="{% static customer.profile_pic.url %}"   alt="profile pic" class="img-rounded img-responsive" />
        </div>
        <div class="col-sm-4 col-md-4">
            <blockquote>
                <p>Username: {{request.user}}</p> <small><cite title="Source Title">Address: {{customer.address}}  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
            </blockquote>
            <p><i class="glyphicon glyphicon-phone"></i>Contact: {{customer.mobile}}
            </p>
        </div>

</div>
<br>
<div style="text-align: center;">
  <a href="/edit-profile"><button class="btn btn-primary btn-lg" ><span>Edit Profile </span></button></a>
</div>
<br><br><br><br><br><br>




{% endblock content %}
